html{
	height: 100%;
}

*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	font-size: 14px;
	color: #444;
	min-height: 100%;
}
li{
	list-style: none;
}
a{
	color: inherit;
	text-decoration: none;
}


.container,header{
	padding: 2% 10%;
}
header{
	padding-bottom: 0;
	background:-webkit-linear-gradient(#dccee6, #fff);
}

.logo{
	display: block;
	margin: 0 auto;
	width: 80%;
}
.logo img{
	width: 100%;
	max-width: 800px;
}

header .intro{
	color: #666;
	font-size: 12px;
	text-align: center;
}

.nav{
	display: -webkit-flex;
	display: flex;
	justify-content: center;
	font-size: 16px;
	margin-top: 10px
}
.nav li{
	padding: 5px;
	margin: 0 2%;
}
.nav li.active{
	/*background-image: url(../imgs/bg.png);*/
	border-bottom: 2px solid #d45050;
	color: #d45050;
}
.nav li a{
	display: block;
}
.tags{
	margin-top: 5px;
	display: -webkit-flex;
}
.tags li{
	font-size: 14px;
	margin-left: 2%;
	padding: 5px 10px;
	border-radius: 2px;
	background-color: #fff;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
}
.tags li.active{
	color: #d45050;
}

.list{
	display: flex;
	display: -webkit-flex;
	flex-wrap: wrap;
}
.item{
	width: 31%;
	position: relative;
	margin-top: 1.5%;
	border-radius: 8px;
	overflow: hidden;
}
.item img{
	width: 100%;
	display: block;
}
.item .title{
	color: #ae95d4;
	font-size: 16px;
	color: #fff;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 2% 0;
	text-align: center;
	background-color: rgba(0,0,0,.3);
	display: none;
}
.item:hover .title{
	display: block;
}
.item .desc{
	font-size: 12px;
	color: #999;
	margin-top: 1%;
}

.detail-wrap{
	max-width: 640px;
	margin: 10px auto;
}
.detail-wrap .title{
	font-size: 18px;
	font-weight: bold;
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}
.detail-wrap .date{
	color: #666;
	font-size: 12px;
	margin: 5px 0;
}
.detail-wrap .content{
}
.content img{
	max-width: 100%;
}
.page-navs{
	margin-top: 20px;
	font-size: 16px;
}
.page-navs a{
	text-decoration: underline;
}
.page-prev,.page-next{
	margin-top: 5px;
}
.page-prev a:hover,.page-next a:hover{
	color: #fff;
}

@media screen and (max-width: 1000px) {
	.container,header{
		padding: 2% 5%;
	}
	header{
		padding-bottom: 0;
	}
	.nav{
		font-size: 16px;
	}
}

@media screen and (max-width: 750px) {
	.container,header{
		padding: 2% 5%;
	}
	header{
		padding-bottom: 0;
		padding-top: 5%;
	}
	.nav{
		font-size: 16px;
	}
	.item{
		width: 100%;
		margin-left: 0;
	}
	header .intro{
		margin-top: 0;
		padding : 0 5%
	}
	.item .title{
		display: block;
	}
	.logo{
		width: 95%;
	}
}

